.wrap-copy-paste {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 99999;
  background-color: #fff;
  border-radius: 5px;
}

#button-paste {
  font-size: 14px;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
